.header {
    width:100%;
    height:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    background: rgba($dark , 0);
    position: fixed;
    top:0;
    transition: all 0.3s ease;
    z-index: 999;
}

.logo-link {
    display: block;
    width:80px;
    height:80px;

    & img {
        width:100%;
        height:100%;
    }
}

.navbar {
    width:450px;
}

.navbar-nav {
    width:100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
}


@media screen and (max-width:910px) {
       .navbar {
            position: absolute;
            top:100px;
            background: $dark;
            width:100%;
            left:0;
            height:100vh;
            transform: translateX(100%);
            transition: transform 0.5s ease-in-out;
            
            & .navbar-nav {
                flex-direction: column;
                gap:50px;
                align-items: center;
                padding-top: 20px;
            }
       } 

       .with-menu .navbar {
        transform: translateX(0);
    }
}