<footer class="footer">

	<a target="_blank" href="{{ path('app_mentions-legales')}}">Mentions légales</a>

	<div class="link-footer">
		<a href="{{ infos.githubLink }}" target="_blank" title="Compte github">
			<iconify-icon icon="mdi:github" style="color: #fafafa;" width="40" height="40"></iconify-icon>
		</a>
		<a target="_blank" title="Profil linkedin" href="{{ infos.linkedinLink }}"><iconify-icon icon="jam:linkedin-circle" style="color: #fafafa;" width="40" height="40"></iconify-icon></a>
	</div>

    <p>© 2022 - Guillaume Robert</p>

</footer>
