/*******************\
    $section
\*******************/
.section {
    padding: 100px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    position: relative;
}

.section-text {
    width: clamp(300px, 70%, 500px)
}

.section-image {
    width: 300px;
}

.section-image_circles {
    width: 300px;
    position: relative;

    &::before,
    &::after {
        content: "";
        background: url('./images/circle.svg');
        position: absolute;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        z-index: -1;
        width: 100px;
        height: 100px;
    }

    &::before {
        right: -30px;
        top: -30px;
    }

    &::after {
        left: -30px;
        bottom: -30px;
    }

    & img {
        width: 100%;
    }

    @media screen and (max-width:366px) {
        &::after{
            left: 0px;
            bottom: -40px;
                }
        &::before {
            right: 0px;
            top: -40px;
                }
        
    }
}

