/*******************\
    $Skills
\*******************/

.skills-container {
    width:100%;
    overflow: hidden;
    

    & .skills-row {
        display: flex;
       
        & .skills-row_group {
            display: flex; 
            gap:60px;
            padding:0 60px 0 0;
            align-items: center;
            & p {
            white-space: nowrap;
            width: max-content;
            font-size: clamp(30px, 10vw, 64px);
            position: relative;
            line-height: 1;
        }
        }
    }
}


.skills-container .skills-row:nth-child(1),
.skills-container .skills-row:nth-child(3) 
 {
    & .skills-row_group {
        animation: defilLeft 45s linear infinite;

    }
}

.skills-container .skills-row:nth-child(2),
.skills-container .skills-row:nth-child(4) {
    flex-direction: row-reverse;
    & .skills-row_group {
         animation: defilRight 45s linear infinite;

    }
}

 .skills-row_group {
    & img {
        height: 30px;
        aspect-ratio: 1 / 1;
    } 
} 


@keyframes defilLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes defilRight {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}