{% extends 'base_security_admin.html.twig' %}
{% block title %}Administration
{% endblock %}

{% block body %}
	{% include "partials/navbar_admin.html.twig" %}
	<div class="container">
		<h1>Administration du portfolio</h1>
	</div>
{% endblock %}
