/*******************\
    $variables
\*******************/
$font: Rubik;
$dark: #171717;
$white: #fafafa;
$yellow: #cacd2c;
$beforeH2 : 15;

/*******************\
    $base
\*******************/

@import './scss/base/base';

/*******************\
    $modules
\*******************/
@import './scss/modules/header-footer/header';
@import './scss/modules/sections/section';
@import './scss/modules/sections/banner';
@import './scss/modules/sections/skills_defil';
@import './scss/modules/animed/fade';
@import './scss/modules/sections/background-sections';
@import './scss/modules/sections/contact_form';
@import './scss/modules/sections/portfolio';
@import './scss/modules/header-footer/footer';
@import './scss/modules/legal-notice';
@import './scss/modules/animed/flashes_messages';
@import './scss/modules/header-footer/menu-icon';
@import './scss/modules//sections/skills';