/*******************\
    $variables
\*******************/
/*******************\
    $base
\*******************/
/*******************\

Generals

\*******************/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  color: #fafafa;
  font-family: Rubik;
  background: #171717;
  padding-top: 100px;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  padding: 0 0 20px 0;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 20px;
  text-transform: uppercase;
}
h2::before {
  content: "";
  width: 45px;
  height: 15px;
  background: url("./images/threeCircles.svg");
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
}

.center_h2 {
  width: 100%;
  display: flex;
  justify-content: center;
}

p {
  line-height: 1.75;
}

/*******************\
    $modules
\*******************/
.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  background: rgba(23, 23, 23, 0);
  position: fixed;
  top: 0;
  transition: all 0.3s ease;
  z-index: 999;
}

.logo-link {
  display: block;
  width: 80px;
  height: 80px;
}
.logo-link img {
  width: 100%;
  height: 100%;
}

.navbar {
  width: 450px;
}

.navbar-nav {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.section {
  padding: 100px 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  position: relative;
}

.section-text {
  width: clamp(300px, 70%, 500px);
}

.section-image_right {
  width: 300px;
  position: relative;
}
.section-image_right::before, .section-image_right::after {
  content: "";
  background: url("./images/circle.svg");
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}
.section-image_right::before {
  width: 100px;
  height: 100px;
  right: -30px;
  top: -30px;
}
.section-image_right::after {
  width: 100px;
  height: 100px;
  left: -30px;
  bottom: -30px;
}
.section-image_right img {
  width: 100%;
}

.section:nth-child(even) {
  background-color: #131313;
}

.banner {
  background-image: url("./images/circle.svg"), url("./images/circle.svg"), url("./images/circle.svg"), url("./images/circle-dark.svg");
  background-repeat: no-repeat;
  background-size: 101px 101px, 137px 137px, 65px 65px, 60px 60px;
  background-position: 45vw calc(10vh + 15px + var(--parallaxY)), 85vw calc(45vh + 15px + var(--parallaxY)), 55vw calc(70vh + 15px + var(--parallaxY)), 75vw 50px;
  height: calc(100vh - 100px) !important;
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 910px) {
  .banner {
    align-items: flex-start;
  }
  .banner .banner-img_container {
    position: absolute;
    bottom: 0;
    width: 51%;
    min-width: 310px;
  }
  .banner .banner-img_container .banner-img {
    width: 100%;
  }
}

.banner-img_container {
  align-self: flex-end;
  position: relative;
}
.banner-img_container .banner-img {
  max-height: calc(90vh - 100px);
}
.banner-img_container::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top, #171717 0%, #171717 5%, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0) 100%);
}

.banner-text {
  width: clamp(300px, 55%, 500px);
}
.banner-text h1 {
  font-size: 2.5em;
  text-transform: uppercase;
}

.overflow-background {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle at 0% 0%, rgb(76, 76, 76) 0%, #171717 41%, #171717 100%);
  z-index: -1;
}

/*******************\
    $Skills
\*******************/
.skills-container {
  width: 100%;
  overflow: hidden;
}
.skills-container .skills-row {
  display: flex;
}
.skills-container .skills-row .skills-row_group {
  display: flex;
  gap: 60px;
  padding: 0 60px 0 0;
  align-items: center;
}
.skills-container .skills-row .skills-row_group p {
  white-space: nowrap;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: clamp(30px, 10vw, 64px);
  position: relative;
  line-height: 1;
}

.skills-container .skills-row:nth-child(1) .skills-row_group,
.skills-container .skills-row:nth-child(3) .skills-row_group {
  -webkit-animation: defilLeft 45s linear infinite;
          animation: defilLeft 45s linear infinite;
}

.skills-container .skills-row:nth-child(2),
.skills-container .skills-row:nth-child(4) {
  flex-direction: row-reverse;
}
.skills-container .skills-row:nth-child(2) .skills-row_group,
.skills-container .skills-row:nth-child(4) .skills-row_group {
  -webkit-animation: defilRight 45s linear infinite;
          animation: defilRight 45s linear infinite;
}

.skills-row_group img {
  height: 30px;
  aspect-ratio: 1/1;
}

@-webkit-keyframes defilLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes defilLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes defilRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes defilRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
*[data-observer=fade-right] {
  transform: translateX(-50px);
  opacity: 0;
  transition: all 1s cubic-bezier(0.44, 0.74, 0.71, 1.08);
}

*[data-observer].fade-right {
  opacity: 1;
  transform: translateX(0);
}

*[data-observer=fade-left] {
  transform: translateX(50px);
  opacity: 0;
  transition: all 1s cubic-bezier(0.44, 0.74, 0.71, 1.08);
}

*[data-observer].fade-left {
  opacity: 1;
  transform: translateX(0);
}

.about {
  background: url("./images/circles3x4-dark171717.svg");
  background-size: auto 40%;
  background-repeat: repeat-y;
}

.skills {
  background: url("./images/circles3x4-dark131313.svg");
  background-size: 150px auto;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) 10px;
}

.contact-form {
  width: 45%;
  min-width: 300px;
  margin: auto;
}

.input-text, .message-area, .submit {
  font-family: Rubik;
  font-size: 16px;
}

.input-text, .message-area {
  outline: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fafafa;
  color: #fafafa;
  padding-bottom: 5px;
}

.field_group {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin: 0 0 35px 0;
  flex-wrap: wrap;
}
.field_group .input-text {
  width: 40%;
  min-width: 300px;
}

.message-area {
  width: 100%;
  height: 150px;
  margin: 0 0 10px;
  resize: vertical;
}

.submit {
  width: 300px;
  padding: 10px;
  background: #cacd2c;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 1419px) {
  .input-text {
    width: 100% !important;
  }
  .submit {
    width: 100% !important;
  }
}
.projects-container {
  width: clamp(300px, 80%, 1200px);
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.projects-container .project-item {
  display: block;
  width: 300px;
  position: relative;
  border-radius: 10px;
}
.projects-container .project-item img {
  width: 100%;
  border-radius: 10px;
}
.projects-container .project-item:before {
  content: "En savoir +";
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #cacd2c;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
  color: #171717;
  font-size: 30px;
}
.projects-container .project-item:hover:before {
  opacity: 1;
}

.popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(185, 185, 185, 0.445);
  z-index: 999;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.popup:target {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
}

.popup .pop_projet {
  background-color: #171717;
  padding: 10px;
  border-radius: 10px;
  width: clamp(320px, 80%, 1000px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 7px 7px 10px rgb(36, 36, 36);
}
.popup .pop_projet h2 {
  font-size: 20px;
  padding: 15px 0;
  margin-bottom: 15px;
}
.popup .pop_projet p {
  line-height: 1;
}

.popup .pop_projet img {
  width: 60%;
  margin: 20px auto;
  min-width: 260px;
}

.popup .pop_projet .close {
  position: absolute;
  top: 5px;
  right: 5px;
}/*# sourceMappingURL=app.css.map */