/*******************\
    $variables
\*******************/
/*******************\
    $base
\*******************/
/*******************\

Generals

\*******************/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  color: #fafafa;
  font-family: Rubik;
  background-color: #171717;
  background: radial-gradient(circle at 0% 50%, rgb(76, 76, 76) 0%, #171717 5%, #171717 100%) no-repeat;
  background-size: 50vw 50vh;
  padding-top: 100px;
  background-position: 0 50vh;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  padding: 0 0 20px 0;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 20px;
  text-transform: uppercase;
}
h2::before {
  content: "";
  width: 45px;
  height: 15px;
  background: url("./images/threeCircles.svg");
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
}

p {
  line-height: 1.75;
}

/*******************\
    $layout
\*******************/
.section {
  padding: 100px 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  position: relative;
}

.section-text {
  width: clamp(300px, 70%, 500px);
}

.section-image_right {
  width: 300px;
  position: relative;
}
.section-image_right::before, .section-image_right::after {
  content: "";
  background: url("./images/circle.svg");
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}
.section-image_right::before {
  width: 100px;
  height: 100px;
  right: -30px;
  top: -30px;
}
.section-image_right::after {
  width: 100px;
  height: 100px;
  left: -30px;
  bottom: -30px;
}
.section-image_right img {
  width: 100%;
}

/*******************\
    $modules
\*******************/
.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  background: rgba(23, 23, 23, 0);
  position: fixed;
  top: 0;
  transition: all 0.3s ease;
  z-index: 999;
}

.logo-link {
  display: block;
  width: 80px;
  height: 80px;
}
.logo-link img {
  width: 100%;
  height: 100%;
}

.navbar {
  width: 450px;
}

.navbar-nav {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.banner {
  background-image: url("./images/circle.svg"), url("./images/circle.svg"), url("./images/circle.svg"), url("./images/circle-dark.svg");
  background-repeat: no-repeat;
  background-size: 101px 101px, 137px 137px, 65px 65px, 60px 60px;
  background-position: 45vw calc(10vh + 15px + var(--parallaxY)), 85vw calc(45vh + 15px + var(--parallaxY)), 55vw calc(70vh + 15px + var(--parallaxY)), 75vw 50px;
  height: calc(100vh - 100px) !important;
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 910px) {
  .banner {
    align-items: flex-start;
  }
  .banner .banner-img_container {
    position: absolute;
    bottom: 0;
    width: 51%;
    min-width: 310px;
  }
  .banner .banner-img_container .banner-img {
    width: 100%;
  }
}

.banner-img_container {
  align-self: flex-end;
  position: relative;
}
.banner-img_container .banner-img {
  max-height: calc(90vh - 100px);
}
.banner-img_container::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top, #171717 0%, #171717 5%, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0) 100%);
}

.banner-text {
  width: clamp(300px, 55%, 500px);
}
.banner-text h1 {
  font-size: 2.5em;
  text-transform: uppercase;
}

.overflow-background {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle at 0% 0%, rgb(76, 76, 76) 0%, #171717 41%, #171717 100%);
  z-index: -1;
}

/*******************\
    $Skills
\*******************/
.skills-container {
  width: 100%;
  overflow: hidden;
}
.skills-container .skills-row {
  display: flex;
  width: 200vw;
  margin: 10px 0;
}
.skills-container .skills-row .skills-row_group {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}
.skills-container .skills-row .skills-row_group p {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: clamp(12px, 4vw, 64px);
  position: relative;
  line-height: 1;
}

.skills-container .skills-row:nth-child(1) .skills-row_group {
  -webkit-animation: defil 45s linear infinite;
          animation: defil 45s linear infinite;
}

.skills-container .skills-row:nth-child(2) .skills-row_group {
  animation: defil 55s linear reverse infinite;
}

.skills-container .skills-row:nth-child(3) .skills-row_group {
  -webkit-animation: defil 40s linear infinite;
          animation: defil 40s linear infinite;
}

.skills-container .skills-row:nth-child(4) .skills-row_group {
  animation: defil 42s linear reverse infinite;
}

.skills-row_group span {
  display: block;
  height: 100%;
  aspect-ratio: 1/1;
  background: url("./images/circle.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60% 60%;
}

@-webkit-keyframes defil {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes defil {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}/*# sourceMappingURL=app.css.map */