/*******************\
    $variables
\*******************/
$font: Rubik;
$dark: #171717;
$white: #fafafa;
$yellow: #cacd2c;
$beforeH2 : 15;

/*******************\
    $base
\*******************/

@import './scss/base/base';

/*******************\
    $modules
\*******************/
@import './scss/modules/header';
@import './scss/modules/section';
@import './scss/modules/banner';
@import './scss/modules/skills';
@import './scss/modules/fade';
@import './scss/modules/background-sections';
@import './scss/modules/contact_form';
@import './scss/modules/portfolio'