/*******************\
    $variables
\*******************/
/*******************\
    $base
\*******************/
/*******************\

Generals

\*******************/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  color: #fafafa;
  font-family: Rubik;
  line-height: 1.75;
  background: #171717;
  background-size: 400vw 400vh;
  -webkit-animation: gradient 15s infinite;
          animation: gradient 15s infinite;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.site-content {
  position: relative;
  top: 100px;
}

/*******************\
    $layout
\*******************/
.section {
  padding: 100px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  position: relative;
}

.section-text {
  width: clamp(300px, 70%, 500px);
}

.section-image_right {
  width: 300px;
  position: relative;
}
.section-image_right::before, .section-image_right::after {
  content: "";
  background: url("./images/circle.svg");
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}
.section-image_right::before {
  width: 100px;
  height: 100px;
  right: -30px;
  top: -30px;
}
.section-image_right::after {
  width: 100px;
  height: 100px;
  left: -30px;
  bottom: -30px;
}
.section-image_right img {
  width: 100%;
}

/*******************\
    $modules
\*******************/
.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  background: rgba(23, 23, 23, 0);
  position: fixed;
  top: 0;
  transition: all 0.3s ease;
  z-index: 999;
}

.logo-link {
  display: block;
  width: 80px;
  height: 80px;
}
.logo-link img {
  width: 100%;
  height: 100%;
}

.navbar {
  width: 450px;
}

.navbar-nav {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.banner {
  background-repeat: no-repeat;
  background-image: url("./images/circle.svg"), url("./images/circle.svg"), url("./images/circle.svg");
  background-size: 101px 101px, 137px 137px, 65px, 65px;
  background-position: 45vw 10vh, 85vw 45vh, 55vw 70vh;
  height: calc(100vh - 100px) !important;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.banner-img_container {
  height: 90%;
  align-self: flex-end;
  position: relative;
}
.banner-img_container .banner-img {
  height: 100%;
}
.banner-img_container::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top, #171717 0%, #171717 5%, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0) 100%);
}

.banner-text {
  width: clamp(300px, 55%, 500px);
}
.banner-text h1 {
  font-size: 2.5em;
  text-transform: uppercase;
}

.overflow-background {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: calc(100vh + 100px);
  background: radial-gradient(circle at 0% 0%, rgb(76, 76, 76) 0%, #171717 41%, #171717 100%);
  z-index: -1;
}

.skills-container {
  width: 100%;
  overflow: hidden;
}
.skills-container .skills-row {
  display: flex;
  width: 200vw;
  margin: 10px 0;
}
.skills-container .skills-row .skills-row_group {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}
.skills-container .skills-row .skills-row_group p {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  font-size: clamp(12px, 4vw, 64px);
  position: relative;
  line-height: 1;
}

.skills-container .skills-row:nth-child(1) .skills-row_group {
  -webkit-animation: defil 45s linear infinite;
          animation: defil 45s linear infinite;
}

.skills-container .skills-row:nth-child(2) .skills-row_group {
  animation: defil 55s linear reverse infinite;
}

.skills-container .skills-row:nth-child(3) .skills-row_group {
  -webkit-animation: defil 40s linear infinite;
          animation: defil 40s linear infinite;
}

.skills-container .skills-row:nth-child(4) .skills-row_group {
  animation: defil 42s linear reverse infinite;
}

.skills-row_group span {
  display: block;
  height: 100%;
  aspect-ratio: 1/1;
  background: url("./images/circle.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60% 60%;
}

@-webkit-keyframes defil {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes defil {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}/*# sourceMappingURL=app.css.map */