{% extends 'base.html.twig' %}
{% block title %}Guillaume Robert | portfolio{% endblock %}

{% block body %}
{% include "partials/header.html.twig" %}

<section class="section banner">
<ul class="background">
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
</ul>

<img src="{{ asset('assets/img/photo_portfolio.png')}}" alt="">

</section>

<section class="section"></section>

{% endblock %}
