.about {
    background: url('./images/circles3x4-dark171717.svg');
    background-size: auto 40% ;
    background-repeat: repeat-y;
}

.skills {
    background: url('./images/circles3x4-dark131313.svg');
    background-size: 150px auto ;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) 10px;

}