.skills-container {
    width:100%;
    overflow: hidden;
    

    & .skills-row {
        display: flex;
        width:200vw;
        margin: 10px 0;
        & .skills-row_group {
            display: flex; 
            justify-content: space-around;
            width:100vw;
            & p {
            width: min-content;
            font-size: clamp(12px, 4vw , 64px );
            position: relative;
            line-height: 1;
        }
        }
    }
}


.skills-container .skills-row:nth-child(1) {
    & .skills-row_group {
        animation: defil 45s linear infinite;

    }
}

.skills-container .skills-row:nth-child(2) {
    & .skills-row_group {
        animation: defil 55s linear reverse infinite;

    }
}

.skills-container .skills-row:nth-child(3) {
    & .skills-row_group {
        animation: defil 40s linear infinite;
    }
}

.skills-container .skills-row:nth-child(4) {
    & .skills-row_group {
        animation: defil 42s linear reverse infinite;

    }
}

.skills-row_group {
    & span {
        display: block;
        height: 100%;
        aspect-ratio: 1 / 1;
        background: url('./images/circle.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 60% 60%;
    } 
}


@keyframes defil {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}