/*******************\

Generals

\*******************/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    color: $white;
    font-family: $font;
    background: $dark;
    padding-top: 100px;
}



a {
    color: inherit;
    text-decoration: none
}



h2 {
    padding: 0 0 20px 0 ;
    position: relative;
    width:max-content;
    margin-bottom: 20px;
    text-transform: uppercase;

    &::before {
        content: "";
        width:(3 * $beforeH2) + px;
        height: $beforeH2 + px ;
        background: url('./images/threeCircles.svg');
        background-size: 100% 100%;
        position: absolute;
        bottom:0;
    } 
}

.center_h2 {
    width:100%;
    display: flex;
    justify-content: center;
}

p {
    line-height: 1.75;
}

.btn {
    display: block;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 30px;
    text-align: center
}

.btn_yellow {
    @extend .btn;
    background-color: $yellow;
    color:$dark
}